<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
        <td colspan="2">
            <h2>가장 재미있는 것을 선택해 주세요.</h2>
        </td>
        </tr>
        <tr>
        <td valgn="top">
            <select name="items1">
                <option value="HTML">HTML</option>
                <option value="자바스크립트">자바스크립트</option>
                <option value="CSS">CSS</option>
            </select>
        </td>
        </tr>
        <tr>
        <td valign="top">
            <select name="items2" size="3">
                <option value="HTML">HTML</option>
                <option value="자바스크립트">자바스크립트</option>
                <option value="CSS">CSS</option>
            </select>
        </td>
        </tr>
    </table>
</body>
</html>