{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
	<a href="/logout">Logout</a> <br> <br>
	<form action="" method="POST">
	</form>
{% else %}

{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인화면 | 안트리오드</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">

    <script type="text/javascript">
        function check(){
            if (session['logged_in']){
                $.ajax({
                  type: "GET",
                  url: "/check",
                  data: {},
                  success: function (response) {
                        alert("출석체크사이트로 이동합니다.");
                      }

              })
            }
            else{
                  if(confirm("로그인이 필요한 서비스입니다. 로그인창으로 이동하시겠습니까?") == true){
                        $.ajax({
                          type: "GET",
                          url: "/login",
                          data: {},
                          success: function (response) {
                          }

              })
                  }
        }
        }
    </script>

    <style type="text/css">
            .h1 {
                position: fixed;
                left: 20px;
                top: 50px;
                font-family: "Do Hyeon", sans-serif
            }
             h2 {
                position: fixed;
                left: 50px;
                top: 50px;

            }
            .div{
                position: fixed;
                left:20px;
                top:50px;
            }
    </style>


</head>
<body>

<div class ="container">
    <form class="text-center" onclick="check()">
            <button type="submit" class="btn btn-primary">출석체크</button>
    </form>
</div>

</body>
</html>{% endblock %}
